:root {
	--bg-primary: #0f0f0f;
	--bg-secondary: #1a1a1a;
	--text: #8f8f8f;
	--test: #424242;
	--error: #ef4444;
	--info: #3b89f6;
	--tiny: 2px;
	--gaps: 3px;
	--pads: 4px;
	--fade: 0.4;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-primary: #ffffff;
		--bg-secondary: #f5f5f5;
		--text: #666666;
		--test: #979797;
		--fade: 0.6;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 320px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		sans-serif;
	background: var(--bg-primary);
	color: var(--text);
}

/* util */

.hide {
	display: none !important;
}

a {
	color: inherit;
}

/* main */

#container {
	display: flex;
	flex-direction: column;
	color: var(--text);
	font-size: 14px;
	-webkit-user-select: none;
	user-select: none;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1px 4px 2px 4px;
	font-size: 15px;
	background: var(--bg-secondary);
	margin-bottom: var(--gaps);
}

#musicext a {
	display: flex;
	align-items: center;
	color: inherit;
	text-decoration: none;
}

#musicext.next a::after {
	content: "update available";
	padding-left: .5rem;
	font-size: 12px;
	animation: blink 3s infinite;
}

@keyframes blink {
	to {
		color: var(--info);
	}
}

/* quality */

#quality {
	display: flex;
	gap: 8px;
}

#quality label {
	cursor: pointer;
	user-select: none;
}

#quality input {
	display: none;
}

#quality span {
	display: block;
	font-size: 12px;
	opacity: 0.8;
}

#quality input:checked + span {
	color: var(--info);
}

#quality input:disabled + span {
	text-decoration: line-through;
	opacity: 0.3;
}

/* media */

#nomedia,
#nolink {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 4rem;
	margin-bottom: var(--pads);
	-webkit-user-select: none;
	user-select: none;
}

#unlinked {
	pointer-events: none;
}

#linker {
	cursor: pointer;
	text-decoration: underline;
}

#media {
	display: flex;
	flex-direction: column;
	padding: var(--gaps);
	padding-top: 0;
	gap: var(--pads);
}

#mediainfo {
	height: 4rem;
	display: flex;
	align-items: center;
	gap: var(--gaps);
	background: var(--bg-secondary);
}

#mediawrap {
	max-height: 220px;
	overflow-y: scroll;
}

#medialist {
	display: flex;
	flex-direction: column;
	gap: var(--gaps);
}

.mediaitem {
	display: flex;
	align-items: center;
	gap: var(--gaps);
	margin-right: 2px;
	background: var(--bg-secondary);
}

.track-number {
	min-width: 20px;
	color: var(--text);
	text-align: center;
	font-size: 11px;
}

.album-cover,
.artist-cover,
.playlist-cover,
.release-cover {
	width: 4rem;
	height: 4rem;
	overflow: hidden;
}

.track-cover {
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	margin-right: var(--gaps);
}

.album-cover img,
.track-cover img,
.artist-cover img,
.playlist-cover img,
.release-cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*.album-info,
.artist-info,
.release-info,
.playlist-info,
.track-info {
	flex: 1;
	min-width: 0;
	padding: var(--gaps);
}*/

.album-info,
.artist-info,
.release-info,
.playlist-info,
.track-info {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gaps) / 2);
	/*padding: var(--pads);*/
	flex: 1;
	min-width: 0;
	padding: var(--gaps);
}

.release-about {
	
}

.album-title,
.artist-name,
.playlist-name,
.release-title,
.track-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.artist-name {
	font-size: 15px;
}

.track-title {
	font-size: 12px;
}

.album-artist,
.playlist-owner,
.track-artist,
.track-album {
	color: var(--text);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.album-artist,
.playlist-owner {
	font-size: 13px;
}

.track-artist {
	font-size: 12px;
}

.track-album {
	font-size: 11px;
}

.album-data,
.playlist-data,
.release-data {
	display: flex;
	gap: .3rem;
}

.album-year,
.playlist-tracks,
.release-year,
.release-about {
	color: var(--text);
	font-size: 11px;
}

.album-label, 
.release-label {
	display: inline;
	color: var(--text);
	font-size: 11px;
}

.download-btn {
	background-color: var(--text);
	border: none;
	cursor: pointer;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjI1Ij48cGF0aCBkPSJNMTIgMTdWM002IDExbDYgNiA2LTZNMTkgMjFINSIvPjwvc3ZnPg==");
}

.download-btn:disabled {
	opacity: 0.3;
	/* cursor: not-allowed; */
	cursor: default;
	-webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjI1Ij48cGF0aCBkPSJNMTggNiA2IDE4TTYgNmwxMiAxMiIvPjwvc3ZnPg==");
}

.album-download,
.track-download,
.playlist-download,
.release-download {
	width: 20px;
	height: 20px;
	margin-right: var(--gaps);
}

.album-download,
.playlist-download {
	margin-right: calc(1 * var(--gaps));
	width: 26px;
	height: 26px;
}

/* messages */

#status {
	padding: 0px var(--gaps);
	display: flex;
	flex-direction: column;
}

#status .msg {
	display: flex;
	gap: var(--gaps);
	min-height: 24px;
	margin-bottom: var(--gaps);
}

#status .msg.info {
	background: rgba(59, 130, 246, var(--fade));
}

#status .msg.error {
	background: rgba(239, 68, 68, var(--fade));
}

#status .msg .cnt {
	flex: 1;
	display: flex;
	align-items: center;
	padding-left: var(--pads);
}

#status .msg .dis {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding-right: var(--pads);
}

#status .msg .dis::after {
	line-height: 0;
	content: "✕";
}

/* queue */

#queue {
	padding: 0 var(--gaps);
	padding-bottom: var(--pads);
	margin-top: var(--gaps);
}

#queuewrap {
	max-height: 220px;
	overflow-y: scroll;
}

#queuelist {
	display: flex;
	flex-direction: column;
	gap: var(--gaps);
}

.queue-item {
	position: relative;
	background: var(--bg-secondary);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--pads);
	margin-right: 2px;
}

.queue-info {
	padding: var(--pads);
	flex: 1;
	min-width: 0;
}

.queued {
	min-width: 32px;
	text-align: center;
	/* padding: 1px 2px 1px 2px; */
	font-size: 11px;
	text-transform: uppercase;
	white-space: nowrap;
	margin-right: var(--gaps);
}

.queued.wait {
	color: #6b7280;
}

.queued.load {
	color: #256ad9;
}

.queued.ok {
	/* color: rgb(42, 140, 78); */
	color: #256ad9;
}

.queued.fail {
	color: #a52121;
}

.queue-progress {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
}

.progress-fill {
	height: 100%;
	opacity: 0.7;
	background: var(--text);
}

/* scroll */
::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	background-color: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
	width: 3px;
	background-color: var(--test);
	cursor: pointer;
}

::-webkit-scrollbar-button {
	display: none;
	width: 0;
	height: 0;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}
